.titleText {
  text-align: center;
  font-family: 'Oswald';
}

.descriptionText {
  font-family: 'Abel';
  text-align: center;
}

hr.style1{
  width: 80%;
	border-top: 1px solid #2D2D2D;
}

.contactRow {
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  font-size: 2em;
}

.contactRow i {
  width: 5em;
  @media(min-width:34em){
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}

.projectButton:hover {
  background-color: #2D2D2D;
  color: #ADADAD;
}

.projectsPage {
  display: none;
}

.row {
  @media(min-width:34em){
    display: flex;
  }
}

.projectContainer {
  background-color: #2D2D2D;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 90%;
  height: 27em;
  @media(min-width:34em){
    width: 40%;
  }
}

.projectImage img {
  height: 9em;
  width: 16em;
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin-top: 1em;
  border: 2px solid white;
  border-radius: 20px;
}

.projectName {
  font-family: 'Passion One';
  font-size: 3em;
  color: #ADADAD;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
  @media(min-width:75em){
    font-size: 4em;
  }
}

.projectDescription {
  text-align: justify;
  color: #ADADAD;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.techStack {
  color: #ADADAD;
  position: relative;
  bottom: 0;
  text-align: center;
  font-family: 'Cabin';
}

@media(min-width:48em){}
@media(min-width:62em){}
@media(min-width:75em){}
