.titleText {
  text-align: center;
  font-family: 'Oswald';
}

.descriptionText {
  font-family: 'Abel';
  text-align: center;
}

hr.style1{
  width: 80%;
	border-top: 1px solid #8c8b8b;
}

.contactRow {
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  font-size: 2em;
}

.contactRow i {
  width: 5em;
}

.projectContainer {
  background-color: #3FBF7F;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.projectImage img {
  height: 25%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin-top: 0.5em;
  border: 2px solid white;
}

.projectName {
  font-family: 'Abel';
  font-size: 1.5em;
  text-align: center;
}

.projectDescription {
  text-align: justify;
}

.techStack {
  text-align: center;
}
