<div class="titleText">
  <h1>Daniel The Developer</h1>
</div>

<div class="screenContainer">
  <div class="screen">
    <h1>Hello world</h1>
    <h2>This is an example</h2>
    <h3>of the text that will</h3>
    <p>go into this screen</p>
  </div>
</div>
