<div class="titleText">
  <h1>Daniel Goh</h1>
</div>

<div class="descriptionText">
  <h2>Junior Full Stack Developer</h2>
  <h3>Interested and curious about everything code.<br>Believes in the importance of UX.<br>Always learning.</h3>
</div>

<hr class="style1">

<div class="contactRow">
  <i class="fa fa-facebook" aria-hidden="true"></i>
  <i class="fa fa-github" aria-hidden="true"></i>
  <i class="fa fa-linkedin" aria-hidden="true"></i>
</div>

<div class="titleText">
  <h1>My Projects</h1>
</div>

<!-- AirBnB Clone -->
<div class="container projectContainer">
  <div class="projectImage">
    <img src="/img/pairbnb.png">
  </div>
  <div class="projectName">
    <p>PairBnB</p>
  </div>
  <div class="projectDescription">
    <p>A project as part of the NEXT Academy curricula- to clone AirBnB's features such as user sign-up's, user listings and user reservations.</p>
  </div>
  <div class="techStack">
    <p>Ruby On Rails | PostgreSQL | Jquery | HTML5 | CSS 3</p>
  </div>
</div>
<br>
<!-- Quora Clone -->
<div class="container projectContainer">
  <div class="projectImage">
    <img src="/img/pairbnb.png">
  </div>
  <div class="projectName">
    <p>PairBnB</p>
  </div>
  <div class="projectDescription">
    <p>A project as part of the NEXT Academy curricula- to clone AirBnB's features such as user sign-up's, user listings and user reservations.</p>
  </div>
  <div class="techStack">
    <p>Ruby On Rails | PostgreSQL | Jquery | HTML5 | CSS 3</p>
  </div>
</div>
