<div id="headerPicture" class="jumbotron">
  <div class="titleText">
    <h1>Daniel Goh</h1>
  </div>

  <div class="descriptionText">
    <h2>Full Stack Developer</h2>
    <h3>Curious about everything code.<br>Believes in the importance of UX.<br>Always learning.</h3>
  </div>
</div>

<hr class="style1">

<div class="contactRow">
  <a href="https://www.facebook.com/danielgohkengyu" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://github.com/gohdaniel15" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://my.linkedin.com/in/danielgohky" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>

<div class="titleText headerButton" id="projectsToggle">
  <hr class="style1">
  <h1>My Projects</h1>
  <hr class="style1 subsquentHr">
</div>

<!-- Projects Page -->
<div class="container-fluid projectsPage hidePage">
  <div class="row">
  <!-- AirBnB Clone -->
    <div class="container projectContainer">
      <div class="projectImage">
        <img src="/img/pairbnb.png">
      </div>
      <div class="projectName">
        <p>PAIRBNB</p>
      </div>
      <div class="projectDescription">
        <p>A project as part of the NEXT Academy curricula- to clone AirBnB's features such as user sign-up's, user listings and user reservations.</p>
      </div>
      <div class="techStack">
        <p>Ruby On Rails | PostgreSQL | Jquery | HTML5 | CSS 3</p>
      </div>
    </div>
    <!-- Quora Clone -->
    <div class="container projectContainer">
      <div class="projectImage">
        <a href="https://gohra.herokuapp.com" target="_blank"><img src="/img/gohra.png"></a>
      </div>
      <div class="projectName">
        <p>GOHRA</p>
      </div>
      <div class="projectDescription">
        <p>A question and answer portal, inspired from Quora. Features include user accounts, user questions and answers and upvoting. </p>
      </div>
      <div class="techStack">
        <p>Sinatra | PostgreSQL | Jquery | HTML5 | CSS 3</p>
      </div>
    </div>
  </div>
  <div class="row">
<!-- Bitly Clone -->
  <div class="container projectContainer">
      <div class="projectImage">
        <a href="https://shortli.herokuapp.com" target="_blank"><img src="/img/shortli.png"></a>
      </div>
      <div class="projectName">
        <p>SHORTLI</p>
      </div>
      <div class="projectDescription">
        <p>A URL shortener, inspired from Bit.ly. It takes a long URL from the user and returns a shortened URL for the user. Used SVG animations for enhanced visual aesthetics and Jquery for a one-page app user experience.</p>
      </div>
      <div class="techStack">
        <p>Sinatra | PostgreSQL | Jquery | HTML5 | CSS 3 | SMIL Animations</p>
      </div>
    </div>
    <!-- Chuck My Norris -->
    <div class="container projectContainer">
      <div class="projectImage">
        <a href="http://codepen.io/gohdaniel15/pen/bebpGq" target="_blank"><img src="/img/chuckmynorris.png"></a>
      </div>
      <div class="projectName">
        <p>CHUCK MY NORRIS</p>
      </div>
      <div class="projectDescription">
        <p>A themed joke generator page, using JSON to pull APIs from an API provider. Also incoporated a tweet button for users to tweet their generated joke. </p>
      </div>
      <div class="techStack">
        <p>HTML 5 | CSS 3 | JSON</p>
      </div>
    </div>
  </div>
  <hr class="style1 subsquentHr">
</div>

<!-- About Me Button -->
<div class="titleText headerButton subsequentButton" id="aboutToggle">
  <h1>About Me</h1>
  <hr class="style1 subsquentHr">
</div>

<!-- About Me Page -->
<div class="container-fluid aboutPage hidePage">
  <div id="aboutMePicture" class="jumbotron"></div>
  <div class="projectDescription aboutDescription">
    <p>Former educator turned full stack developer. One day I stumbled upon Free Code Camp and I was immediately hooked. Currently specialized in Ruby- looking to Node in the near future.</p>

    <p>Enjoys a little photography and rock climbing on the side.</p>
  </div>
  <hr class="style1 subsquentHr">
</div>

<!-- Contact Me Button -->
<div class="titleText headerButton subsequentButton" id="contactToggle">
  <h1>Contact Me</h1>
  <hr class="style1">
</div>

<!-- Contact Me Page -->
<div class="container-fluid contactPage hidePage">
  <div class="projectDescription contactDescription">
    <p>Open to meet for coffee, or chat over email.</p>
  </div>
  <div class="table">
    <div class="tableRow">
      <div class="tableCell"><p>Email:</p></div>
      <div class="tableCell"><p>gohdaniel15@gmail.com</p></div>
    </div>
    <div class="tableRow">
      <div class="tableCell"><p>LinkedIn:</p></div>
      <div class="tableCell"><a href="https://my.linkedin.com/in/danielgohky"><p>https://my.linkedin.com/in/danielgohky</p></a></div>
    </div>
    <div class="tableRow">
      <div class="tableCell"><p>Github:</p></div>
      <div class="tableCell"><a href="https://github.com/gohdaniel15"><p>https://github.com/gohdaniel15</p></a></div>
    </div>
    <div class="tableRow">
      <div class="tableCell"><p>Facebook:</p></div>
      <div class="tableCell"><a href="https://www.facebook.com/danielgohkengyu"><p>https://www.facebook.com/danielgohkengyu</p></a></div>
    </div>
    <div class="tableRow">
      <div class="tableCell"><p>Twitter:</p></div>
      <div class="tableCell"><a href="https://twitter.com/goh_daniel"><p>https://twitter.com/goh_daniel</p></a></div>
    </div>
  </div>
  <hr class="style1 subsquentHr">
</div>
