<div class="titleText">
  <h1>Daniel Goh</h1>
</div>

<div class="screenContainer">
  <div class="screen">
    <h2>Junior Full Stack Developer</h2>
    <h3>Interested and curious about everything code.<br>Believes in the importance of UX.<br>Always learning.</h3>
  </div>
</div>
